.body {
  display: flex;
  background-color: bisque;
  max-width: 30%;
}

.part {
  margin: 20px;
}

.title {
  border: 1px solid black;
  padding: 10px;
  margin-top: 5%;
  text-align: center;
  box-sizing: border-box solid;
}

.header {
  padding: 30px 20px;
  width: auto;
  margin: 50px auto;
  background-color: #4d0026;
  text-align: center;
  color: white;
  font-size: 50px;
  border: 3px double black;
}
