.elements {
  background-color: rgb(202, 202, 202);
  display: flex;
}

.body {
  flex-wrap: nowrap;
}

.image {
  width: 30%;
  height: auto;
  text-align: center;
}

.part {
  margin: 20px;
  text-align: center;
  float: right;
  width: 45%;
}

.title {
  /* border: 1px solid black; */
  text-align: center;
  box-sizing: border-box solid;
  float: left;
  width: 20%;
}

.header {
  padding: 30px 20px;
  width: auto;
  margin: 50px auto;
  background-color: #4d0026;
  text-align: center;
  color: white;
  font-size: 50px;
  border: 3px double black;
}
